*{
    margin: 0%;
    border: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{background: #262b36;}
.contenedor_header{
    display: flex;
    align-items: center;  
}
figure{width: 110px;}
figure img{width: 100%;}
input{
    width: 30%;
    height: 30px;
    border: 1px silver;
    border-radius: 5px;
}
a{
    text-decoration: none;
    font-size: 18px;
}
.boton-rojo, .boton, .boton-rojo2{
    padding: 12px 20px;
    border-radius: .2em;
}
.boton-rojo2{padding: 12px 35px;}
.boton{background: #52BCDB;}
.boton-rojo, .boton-rojo2{background: #CF433F;}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3cb290;
    height: 3em;
}
ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
li{list-style: none;}
h1, a, li, p{color: white;}
li a:hover{color:#262b36;}
img[alt*="ralph"]{width: 100%;}
h1{font-size: 25px;}
h2{
    color: #3cb290;
    font-size: 20px;
}
.movies{display: grid;}
footer{
    display: flex;
    align-items: center;
    height: 100px;
    background: #1c1f27;
}
footer p{
    margin-left: 7%;
    font-size: 18px;
}
/* movíles */
@media (min-width: 320px) and (max-width: 479px){
    .contenedor_header{
        height: 290px;
        flex-direction: column;
    }
    input{width: 130px;}
    .boton,.boton-rojo{margin-top: 10px;}
    figure{margin-top: 15px;}
    .boton-rojo{padding: 12px;}
    nav{height: 180px;}
    li{margin-top: 5px;}
    ul{
        flex-direction: column;
        align-items: center;
    }
    .movies{
        margin: 3em 23.5%;
        grid-template-columns: 230px;
        grid-template-rows: 80px repeat(4, 370px 60px) 50px 70px repeat(3, 370px 60px);
    }
    h1{ grid-area: 1 / 1 / 1 / 1;}
    .item-1{ grid-area: 2 / 1 / 2 / 1;}
    .item-2{ grid-area: 4 / 1 / 4 / 1;}
    .item-3{ grid-area: 6 / 1 / 6 / 1;}
    .item-4{ grid-area: 8 / 1 / 8 / 1;}
    .boton-rojo2{ grid-area: 10 / 1 / 10 / 1;}
    .item-5{ grid-area: 12 / 1 / 12 / 1;}
    .item-6{ grid-area: 14 / 1 / 14 / 1;}
    .item-7{ grid-area: 16 / 1 / 16 / 1;}
    .item-8{ grid-area: 18 / 1 / 18 /1;}
}
/* tablet versión vertical */
@media (min-width: 480px) and (max-width: 767px){
    .contenedor_header{
        height: 290px;
        flex-direction: column;
    }
    input{width: 130px;}
    .boton,.boton-rojo{margin-top: 10px;}
    figure{margin-top: 15px;}
    .boton-rojo{padding: 12px;}
    nav{height: 180px;}
    li{margin-top: 5px;}
    ul{
        flex-direction: column;
        align-items: center;
    }
    .movies{
        margin: 3em 31.5%;
        grid-template-columns: 230px;
        grid-template-rows: 80px repeat(4, 370px 60px) 50px 70px repeat(3, 370px 60px);
    }
    h1{ grid-area: 1 / 1 / 1 / 1;}
    .item-1{ grid-area: 2 / 1 / 2 / 1;}
    .item-2{ grid-area: 4 / 1 / 4 / 1;}
    .item-3{ grid-area: 6 / 1 / 6 / 1;}
    .item-4{ grid-area: 8 / 1 / 8 / 1;}
    .boton-rojo2{ grid-area: 10 / 1 / 10 / 1;}
    .item-5{ grid-area: 12 / 1 / 12 / 1;}
    .item-6{ grid-area: 14 / 1 / 14 / 1;}
    .item-7{ grid-area: 16 / 1 / 16 / 1;}
    .item-8{ grid-area: 18 / 1 / 18 /1;}
}
/* tablet versión horizontal */
@media (min-width: 768px) and (max-width: 1023px){
    .contenedor_header{
        height: 150px;
        justify-content: space-around;
    }
    figure{margin-left:2%;}
    .boton{margin-left:-5.9%;}
    .boton-rojo{margin-left: -7%;}
    .movies{
        margin:3em 20%;
        grid-template-columns: 230px 100px 230px;
        grid-template-rows: 80px 370px 60px 385px 60px 50px 60px 400px 60px 370px;
    }
    h1{grid-area: 1 / 1 / 1 / 1;}
    .item-1{grid-area: 2 / 1 / 2 / 1;}
    .item-2{grid-area: 2 / 3 / 2 / 3;}
    .item-3{grid-area: 4 / 1 / 4 / 1 ;}
    .item-4{grid-area: 4 / 3 / 4 / 3;}
    .boton-rojo2{grid-area: 6 /1 / 6 / 1;}
    .item-5{grid-area: 8 / 1 / 8 / 1;}
    .item-6{grid-area: 8 / 3 / 8 / 3;}
    .item-7{grid-area: 10 / 1 / 10 / 1;}
    .item-8{grid-area: 10 / 3 / 10 / 3;}
}
/* desktop */
@media (min-width: 1024px){
    figure{margin-left:2%;}
    .contenedor_header{
        height: 150px;
        justify-content: space-around;
    }
    .boton{margin-left: -5%;}
    .boton-rojo{margin-left: -8%;}
    .movies{
        margin:3em 6em;
        /* debo sacar la cuenta de cuantas col y rows tiene el layout y cuanto van a medir para poder hacer el template del grid */
        grid-template-columns: repeat(3, 230px 80px) 230px;
        grid-template-rows: 80px 350px 70px 50px 60px 400px;
    }
    h1{ grid-area: 1 / 1 / 1 / 1;}
    .item-1{ grid-area: 2 / 1 / 2 / 1;}
    .item-2{ grid-area: 2 / 3 / 2 / 3;}
    .item-3{ grid-area: 2 / 5 / 2 / 5;}
    .item-4{ grid-area: 2 / 7 / 2 / 7;}
    .boton-rojo2{ grid-area: 4 / 1 / 4 / 1;}
    .item-5{ grid-area: 6 / 1 / 6 / 1;}
    .item-6{ grid-area: 6 / 3 / 6 / 3;}
    .item-7{ grid-area: 6 / 5 / 6 / 5;}
    .item-8{ grid-area: 6 / 7 / 6 /7;}
}